* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* atributos de Header */
header {
  font-family: sans-serif;
  width: 100%;
  height: 65px;
  background: white;
  position: relative;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/*Atributos del logotipo principal y titulo principal*/
.logotipo {
  display: inline-block;
  line-height: 45px;
  background-color: lightgreen;
  width: 100%;
  height: 65px;
}

.logoPpal {
  line-height: 45px;
  max-height: 65px;
  max-width: 100px;
  display: inline-block;
}

.titulo {
  display: inline-block;
  overflow: hidden;
}

/*menu boostrap*/
.menub {
  background-color: orange;
}

@media (max-width: 600px) {
  .mapa {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
}

@media (max-width: 990px) {

  .navbar-expand-sm .offcanvas-top,
  .navbar-expand-sm .offcanvas-bottom {
    height: auto;
    border-top: 0;
    border-bottom: 0;
  }

  .menub {
    background-color: rgba(250, 250, 217, 0.87);
  }
}

/*parrafo Acerca de Nosotros*/
.nosotros {
  font-size: 14px;
  color: black;
  margin-top: 20px;
  text-align: justify;
}

/*propiedades del Footer*/
.comunicate {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  color: rgba(111, 111, 243, 0.76);
  overflow: visible;
}

footer {
  width: 100%;
  background: #202020;
  color: white;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
}

.colum1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2 {
  max-width: 400px;
}

.colum2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
  padding: 0px 0px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.colum4 {
  max-width: 400px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
  
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #C7C7C7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #C7C7C7;
}

@media screen and (max-width: 375px) {
  .contacto {
      max-width: 375px;
  }
  .row{
    max-width: 375px;
  }
  .g-3{
      max-width: 375px;
  }
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2,
  .colum3,
  .colum4 {
    margin-top: 40px;
  }
}

/* logotipo fijo whatapp*/
.logoFlotante {
  position: fixed;
  bottom: 10px;
  right: 15px;
  height: 85px;
  width: 85px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.logoFlotante figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 500ms ease-out;
}

.logoFlotante figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 72, 77, 0.7);
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin: auto;
}

.logoFlotante figure:hover>.capa {
  opacity: 1;
  visibility: visible;
}

.logoFlotante figure img {
  height: 85px;
  width: 85px;
}

.logoFlotante figure:hover>img {
  transform: scale(1.3);
}
.capa{
  font-size: 12px;
}

/* estilo de contactos/productos*/
.text {
  background: silver;
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #393939;
  font-size: 12px;
  padding: 5px;
}

/*estilos comun a servicios y galeria */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

section {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.container1 {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container2 {
  width: 100%;
  max-width: 1200px;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container1 .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container2 .card {
  width: 330px;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container1 .card:hover,
.container2 .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container2 .card img,
.container1 .card img {
  width: 330px;
  height: 220px;
}

.container1 .card h4,
.container2 .card h4 {
  font-weight: 600;
}

.container1 .card p,
.container2 .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container1 .card a,
.container2 .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.content-image {
  width: 100%;
}

/*CSS Galeria - efectos*/
body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 330px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  border-radius: 8px;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top {
  top: 20%;
}

.contenedorGrid {
  display: grid;
  grid-template-areas:
    "logo titulo"
    "menuDesplegable menuDesplegable"
    "main main"
    "footer footer";
  grid-template-columns: 58px auto;
  grid-template-rows: 65px 65px auto auto;
}

.logotipo {
  grid-area: logo;
}

.titulo1 {
  grid-area: titulo;
  text-align: center;
  justify-content: center;
  background-color: aquamarine;
  vertical-align: middle;
}

header {
  grid-area: menuDesplegable;
}

.servicios {
  grid-area: main;
}

.productos {
  grid-area: main;
}

.galeria {
  grid-area: main;
}

.contacto {
  grid-area: main;
}

.indice {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*rama - oferta saludable*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.oferta {
  text-align: center;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: rgb(185, 84, 17);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 29px;
  padding-top: 40vh;
  height: 100vh;
  overflow: hidden;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
}

article div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

article div:first-of-type {
  animation: showup 7s infinite;
}

article div:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

article div:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 355px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 355px;
  }
}